.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* background-color: #f2f2f2; */
  background-color: 	#052e45;
  padding: 50px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.footer-left h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color:white
}

.footer-left p {
  font-size: 18px;
  color:white
}

.footer-center h3 {
  font-size: 22px;
  margin-bottom: 20px;
  color:white
}

.social-icons a {
  display: inline-block;
  margin-right: 20px;
  font-size: 24px;
  color:white;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #ff4d4d
}

.footer-right h3 {
  font-size: 22px;
  margin-bottom: 20px;
  color:white
}

.footer-right input[type="email"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
}

.footer-right button[type="submit"] {
  padding: 10px 20px;
  background-color:  #e6ecf2;
  color: black;
  border: none;
  border-radius: 5px;
  
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.footer-right button[type="submit"]:hover {
  background-color: #ff4d4d;
}

.footer-bottom {
  background-color: 	#052e45;
  padding: 10px;
  text-align: center;
  font-size: 14px;
 color: white;
}
