body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
   /* background-color: 	#052e45; */
}

#logo img {
  width: 300px;
}

.icons {
  display: flex;
  align-items: center;
}

.icon {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.icon i {
  font-size: 1.5rem;
  color: bisque;
}
nav span{
  color: rgba(0, 0, 0, 0.5); /* black color with 50% opacity */
}
nav p{
  color: rgba(0, 0, 0, 0.5); /* black color with 50% opacity */
}

.user-icon {
  background-color: #ff4d4d;
  border-radius: 50%;
  padding: 0.5rem;
  margin-left: 20px;
}

.user-icon i {
  font-size: 1.5rem;
}

.icon span {
  font-size: 0.75rem;
}

.nav-second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  
   background-color: 	#052e45;
  margin: 0;
  padding: 0 20px;
}

.nav-second > div:first-child {
  display: flex;
  align-items: center;
}

.nav-second i.bx-gift {
  font-size: 2rem;
  color: #ff4d4d;
  /* color: #fff; */
}
.i{
  color: #fff;
}
.nav-second > div:first-child > span {
  font-size: 1.2rem;
  font-weight: bold;
  /* color: #fff; */
}

.nav-second > div:first-child > p {
  font-size: 0.8rem;
  margin-top: 5px;
  /* color: #fff; */
}

.nav-second > div:last-child {
  display: flex;
  align-items: center;
}

.divcompare {
  display: flex;
  align-items: center;
  color: #fff;
}

.divcompare > div:first-child > span {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}

.divcompare > div:first-child > p {
  font-size: 0.8rem;
  margin-top: 5px;
  color: #fff;
}

.divcompare > div:nth-child(2) > select {
  font-size: 1rem;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  /* color: #555; */
  color: #fff;
}

.nav-second i.bx-heart {
  font-size: 1.5rem;
  margin-left: 20px;
  color: #ff4d4d;
}

.nav-second i.bx-cart {
  font-size: 1.5rem;
  margin-left: 20px;
  color: #ff4d4d;
}

#main {
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  #logo img {
    width: 200px;
  }

  .divcompare {
    display: none;
  }

  .divcompare > div:first-child > span {
    display: none;
  }

  .divcompare > div:first-child > p {
    display: none;
  }

  .divcompare > div:nth-child(2) > select {
    display: none;
  }

  #offer {
    display: none;
  }
}
